<div class="container-fluid">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">

  </div>

  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-primary font-weight-bold text-uppercase mb-1">
                Total de Itens Glosados</div>
              <div class="h6 mb-0 font-weight-bold text-red-800">R$110,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-info font-weight-bold text-uppercase mb-1">
                Pagamentos Integrais</div>
              <div class="h6 mb-0 font-weight-bold text-gray-800">R$65,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body ">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-warning font-weight-bolder  text-uppercase mb-1">
                Pagamentos Parciais</div>
              <div class="h6 mb-0 font-weight-bold text-gray-800">R$45,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                Inadimplencias</div>
              <div class="h6 mb-0 font-weight-bold "> 25 Itens</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header text-center">
          <h1 class="text-light">Itens Associados</h1>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Código Item</th>
              <th scope="col">Descrição</th>
              <th scope="col">Numero Guia</th>
              <th scope="col">Valor Faturado</th>
              <th scope="col">Valor Pago</th>
              <th scope="col">Valor Glosado</th>
              <th scope="col">Data Atendimento</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1470</td>
              <td class="">ANTAK</td>
              <td>165987848</td>
              <td>R$ 78,41</td>
              <td>R$ 78,00</td>
              <td>R$ 0,41</td>
              <td>18/02/2022</td>
            </tr>
            <tr>
              <td>1790</td>
              <td class="">FLAGYL Restrito Hosp.</td>
              <td>14523658</td>
              <td>R$ 74,02</td>
              <td>R$ 68,01</td>
              <td>R$ 6,01</td>
              <td>15/03/2022</td>
            </tr>
            <tr>
              <td>1998</td>
              <td class="">Coluna Vertebral: Infiltração Foraminal </td>
              <td>153661126</td>
              <td>R$ 426,00</td>
              <td>R$ 204,06</td>
              <td>R$ 221,21</td>
              <td>03/09/2022</td>
            </tr>
            <tr>
              <td>1890</td>
              <td class="">ADVANSEPT CLOREXIDINA 10 MONODOSE</td>
              <td>153661126</td>
              <td>R$ 19,62</td>
              <td>R$ 10,00</td>
              <td>R$ 9,62</td>
              <td>18/06/2022</td>
            </tr>
            <tr>
              <td>1470</td>
              <td class="">SOLUCAO CLORETO DE SODIO 09 BOLSAS </td>
              <td>153661126</td>
              <td>R$ 7,41</td>
              <td>R$ 7,20</td>
              <td>R$ 0,21</td>
              <td>15/03/2022</td>
            </tr>
            <tr>
              <td>7770</td>
              <td class="">DEXAMETASONA GENERICO Restrito Hosp.</td>
              <td>166448886</td>
              <td>R$ 45,23</td>
              <td>R$ 44,00</td>
              <td>R$ 1,23</td>
              <td>12/10/2022</td>
            </tr>
            <tr>
              <td>1470</td>
              <td class="">PROFOLENPROPOFOLRestritoHosp</td>
              <td>174661126</td>
              <td>R$ 87,41</td>
              <td>R$ 87,20</td>
              <td>R$ 0,21</td>
              <td>19/03/2022</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header text-center">
          <h1 class="text-light">Itens Não Associados</h1>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Código Item</th>
              <th scope="col">Descrição</th>
              <th scope="col">Numero Guia</th>
              <th scope="col">Valor Faturado</th>
              <th scope="col">Valor Recebido</th>
              <th scope="col">Valor Glosado</th>
              <th scope="col">Data Atendimento</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1470</td>
              <td class="">AGUA P INJECAO Restrito Hosp.</td>
              <td>153661126</td>
              <td>R$ 17,41</td>
              <td>R$ 17,20</td>
              <td>R$ 0,21</td>
              <td>25/08/2022</td>
            </tr>
            <tr>
              <td>1470</td>
              <td class="">SOLUCAO CLORETO DE SODIO 09 BOLSAS SISTEMA.</td>
              <td>15372345</td>
              <td>R$ 7,41</td>
              <td>R$ 7,20</td>
              <td>R$ 0,21</td>
              <td>15/03/2022</td>
            </tr>
            <tr>
              <td>1470</td>
              <td class="">TRAMAL</td>
              <td>124372345</td>
              <td>R$ 34,19</td>
              <td>R$ 23,01</td>
              <td>R$ 11,18</td>
              <td>17/04/2022</td>
            </tr>
            <tr>
              <td>1770</td>
              <td class="">COMPRESSA 7,5CMX7,5CM 13FIOS ESTERIL 10UNID C24013</td>
              <td>4578912687</td>
              <td>R$ 3,93</td>
              <td>R$ 0,39</td>
              <td>R$ 3,54</td>
              <td>16/03/2022</td>
            </tr>
            <tr>
              <td>1970</td>
              <td class="">CLEXANE</td>
              <td>794842168</td>
              <td>R$ 59,20</td>
              <td>R$ 59,19</td>
              <td>R$ 0,01</td>
              <td>15/03/2022</td>
            </tr>
            <tr>
              <td>1470</td>
              <td class="">ROCEFIN</td>
              <td>121548722</td>
              <td>R$ 155,28</td>
              <td>R$ 150,00</td>
              <td>R$ 5,28</td>
              <td>15/03/2022</td>
            </tr>
            <tr>
              <td>1470</td>
              <td class="">SOLUCAO CLORETO DE SODIO 09 </td>
              <td>153661126</td>
              <td>R$ 7,41</td>
              <td>R$ 7,20</td>
              <td>R$ 0,21</td>
              <td>15/03/2022</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
