<div class="container-fluid">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">

  </div>

  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-primary font-weight-bold text-uppercase mb-1">
                Total de Glosas</div>
              <div class="h6 mb-0 font-weight-bold text-red-800">R$110,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-info font-weight-bold text-uppercase mb-1">
                Glosas Integrais</div>
              <div class="h6 mb-0 font-weight-bold text-gray-800">R$65,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body ">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-warning font-weight-bolder  text-uppercase mb-1">
                Glosas Parciais</div>
              <div class="h6 mb-0 font-weight-bold text-gray-800">R$45,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                Inadimplencias</div>
              <div class="h6 mb-0 font-weight-bold "> 72 Guias</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header text-center">
          <h1 class="text-light">Guias Associadas</h1>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Remessa</th>
              <th scope="col">Guia</th>
              <th scope="col">Valor Faturado</th>
              <th scope="col">Valor Glosado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1498</td>
              <td>9874568</td>
              <td>R$ 1478,90</td>
              <td>R$ 750,45</td>
            </tr>
            <tr>
              <td>1578</td>
              <td>3314559</td>
              <td>R$ 1500,00</td>
              <td>R$ 250,00</td>
            </tr>
            <tr>
              <td>1917</td>
              <td>1514515</td>
              <td>R$ 148,78</td>
              <td>R$ 50,45</td>
            </tr>
            <tr>
              <td>1989</td>
              <td>5864517</td>
              <td>R$ 897,78</td>
              <td>R$ 270,75</td>
            </tr>
            <tr>
              <td>1500</td>
              <td>12145</td>
              <td>R$ 1500,00</td>
              <td>R$ 250,00</td>
            </tr>
            <tr>
              <td>3325</td>
              <td>4412145</td>
              <td>R$ 1987,85</td>
              <td>R$ 278,80</td>
            </tr>
            <tr>
              <td>1789</td>
              <td>1912145</td>
              <td>R$ 756,97</td>
              <td>R$ 323,78</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header text-center">
          <h1 class="text-light">Guias Não Associadas</h1>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Remessa</th>
              <th scope="col">Guia</th>
              <th scope="col">Valor Faturado</th>
              <th scope="col">Valor Glosado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1545</td>
              <td>1212545</td>
              <td>R$ 1798,80</td>
              <td>R$ 1250,70</td>
            </tr>
            <tr>
              <td>1789</td>
              <td>1814578</td>
              <td>R$ 1578,00</td>
              <td>R$ 852,00</td>
            </tr>
            <tr>
              <td>1789</td>
              <td>1998214</td>
              <td>R$ 2589,75</td>
              <td>R$ 1250,89</td>
            </tr>
            <tr>
              <td>1500</td>
              <td>1214588</td>
              <td>R$ 1500,00</td>
              <td>R$ 250,00</td>
            </tr>
            <tr>
              <td>1783</td>
              <td>2222145</td>
              <td>R$ 578,53</td>
              <td>R$ 150,52</td>
            </tr>
            <tr>
              <td>1250</td>
              <td>1312145</td>
              <td>R$ 359,00</td>
              <td>R$ 251,00</td>
            </tr>
            <tr>
              <td>1500</td>
              <td>1214598</td>
              <td>R$ 1500,00</td>
              <td>R$ 250,00</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
